@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes progress {
    0% { width: 0%; left: 0; right: auto; }
    50% { width: 100%; left: 0; right: auto; }
    51% { width: 100%; left: auto; right: 0; }
    100% { width: 0%; left: auto; right: 0; }
  }
  
  .animate-progress {
    animation: progress 2s ease-in-out infinite;
  }
  
  .animation-delay-200 {
    animation-delay: 200ms;
  }